/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media (-moz-windows-default-theme) {
@media (-moz-windows-accent-color-in-titlebar) {
  :root[tabsintitlebar] {
    /* stylelint-disable-next-line media-query-no-invalid */
    @media (-moz-bool-pref: "browser.theme.windows.accent-color-in-tabs.enabled") {
      --toolbox-non-lwt-bgcolor: ActiveCaption;
      --toolbox-non-lwt-textcolor: CaptionText;
      --toolbox-non-lwt-bgcolor-inactive: InactiveCaption;
      --toolbox-non-lwt-textcolor-inactive: InactiveCaptionText;

      &:not([lwtheme]) #TabsToolbar {
        /* These colors match the Linux/HCM default button colors. We need to
         * override these on the tabs toolbar because the accent color is
         * arbitrary, so the hardcoded colors from browser-custom-colors might
         * not provide sufficient contrast. */
        --toolbarbutton-icon-fill: currentColor;
      }
    }

    &[sizemode="normal"] #navigator-toolbox {
      border-top: .5px solid ActiveBorder;
      &:-moz-window-inactive {
        border-top-color: InactiveBorder;
      }
    }
  }
}
}

/* See bug 1715990 about why we do this ourselves on HCM */
@media (prefers-contrast) {
  :root[tabsintitlebar]:not([lwtheme]) {
    background-color: ActiveCaption;
    color: CaptionText;
  }

  :root[tabsintitlebar]:not([lwtheme]):-moz-window-inactive {
    background-color: InactiveCaption;
    color: InactiveCaptionText;
  }
}

.titlebar-button {
  appearance: none !important;
  border: none;
  margin: 0 !important;
  padding: 8px 18px;
  color: inherit;

  /* Segoe Fluent Icons is the preferred font for Windows 11, and
   * Segoe MDL2 Assets is there for windows 10. Luckily, the relevant glyphs
   * are the same, so we can just fall back.
   * See: https://learn.microsoft.com/en-us/windows/apps/design/style/segoe-fluent-icons-font */
  font:
    round(10px, env(hairline)) / 1 "Segoe Fluent Icons",
    "Segoe MDL2 Assets"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */

  /* Win10's tablet mode is non-windowed -- windows can't be moved or resized
     freely. In theory "minimize" might still make sense, but for simplicity we
     just hide everything but "close".

     (This is not called for in Win11's tablet mode, which _is_ windowed.)
  */
  :root[win10-tablet-mode] &:not(.titlebar-close) {
    display: none;
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-inset);
  }

  > .toolbarbutton-icon {
    display: none;
  }

  &::before {
    display: inline-block;
    content: inherit;

    &:-moz-locale-dir(rtl) {
      transform: scaleX(-1);
    }
  }

  @media (-moz-windows-default-theme) {
    &:hover {
      background-color: var(--toolbarbutton-hover-background);

      &:active {
        background-color: var(--toolbarbutton-active-background);
      }
    }

    &.titlebar-close:hover {
      color: white;
      background-color: hsl(355, 86%, 49%);

      &:active {
        background-color: hsl(355, 82%, 69%);
      }
    }
  }

  @media not (-moz-windows-default-theme) {
    background-color: Field;
    color: ButtonText; /* FIXME: shouldn't it be FieldText? */

    &:hover {
      background-color: SelectedItem;
      color: SelectedItemText;
    }
  }
}

.titlebar-min {
  content: "\e921"; /* ChromeMinimize */
  @media (prefers-contrast) {
    content: "\ef2d"; /* ChromeMinimizeContrast */
  }
}

.titlebar-max {
  content: "\e922"; /* ChromeMaximize */
  @media (prefers-contrast) {
    content: "\ef2e"; /* ChromeMaximizeContrast */
  }
}

.titlebar-restore {
  content: "\e923"; /* ChromeRestore */
  @media (prefers-contrast) {
    content: "\ef2f"; /* ChromeRestoreContrast */
  }
}

.titlebar-restore > .toolbarbutton-icon:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.titlebar-close {
  content: "\e8bb"; /* ChromeClose */
  @media (prefers-contrast) {
    content: "\ef2c"; /* ChromeCloseContrast */
  }
}

@media (-moz-windows-default-theme) {
  #main-menubar > menu {
    appearance: none;
    color: inherit;
  
    &[_moz-menuactive] {
      background-color: light-dark(hsla(0,0%,0%,.12), hsla(0,0%,100%,.22));
      color: inherit;
  
      @media (prefers-contrast) {
        background-color: -moz-menuhover;
        color: -moz-menuhovertext;
      }
    }
  }

  #toolbar-menubar[brighttext] > #menubar-items > #main-menubar > menu[_moz-menuactive="true"],
  toolbar[brighttext] .titlebar-button:not(.titlebar-close):hover {
    background-color: hsla(0,0%,100%,.22);
  }
  toolbar[brighttext] .titlebar-button:not(.titlebar-close):hover:active {
    background-color: hsla(0,0%,100%,.32);
  }
}

@media not (-moz-windows-default-theme) {
  &:not([lwtheme]) #appcontent {
    background-color: -moz-dialog;
  }
}
