/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media (-moz-windows-default-theme) {
@media (-moz-windows-accent-color-in-titlebar) {
  :root[tabsintitlebar] {
    /* stylelint-disable-next-line media-query-no-invalid */
    @media (-moz-bool-pref: "browser.theme.windows.accent-color-in-tabs.enabled") {
      --toolbox-non-lwt-bgcolor: ActiveCaption;
      --toolbox-non-lwt-textcolor: CaptionText;
      --toolbox-non-lwt-bgcolor-inactive: InactiveCaption;
      --toolbox-non-lwt-textcolor-inactive: InactiveCaptionText;

      &:not([lwtheme]) #TabsToolbar {
        /* These colors match the Linux/HCM default button colors. We need to
         * override these on the tabs toolbar because the accent color is
         * arbitrary, so the hardcoded colors from browser-custom-colors might
         * not provide sufficient contrast. */
        --toolbarbutton-icon-fill: currentColor;
        --toolbarbutton-hover-background: color-mix(in srgb, currentColor 17%, transparent);
        --toolbarbutton-active-background: color-mix(in srgb, currentColor 30%, transparent);
      }
    }

    &[sizemode="normal"] #navigator-toolbox {
      border-top: .5px solid ActiveBorder;
      &:-moz-window-inactive {
        border-top-color: InactiveBorder;
      }
    }
  }
}
}

/* See bug 1715990 about why we do this ourselves on HCM */
@media (prefers-contrast) {
  :root[tabsintitlebar]:not([lwtheme]) {
    background-color: ActiveCaption;
    color: CaptionText;
  }

  :root[tabsintitlebar]:not([lwtheme]):-moz-window-inactive {
    background-color: InactiveCaption;
    color: InactiveCaptionText;
  }
}

.titlebar-button {
  appearance: none !important;
  border: none;
  margin: 0 !important;
  padding: 8px 17px;
  -moz-context-properties: stroke;
  stroke: currentColor;

  /* Win10's tablet mode is non-windowed -- windows can't be moved or resized
     freely. In theory "minimize" might still make sense, but for simplicity we
     just hide everything but "close".

     (This is not called for in Win11's tablet mode, which _is_ windowed.)
  */
  :root[win10-tablet-mode] &:not(.titlebar-close) {
    display: none;
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-inset);
  }

  > .toolbarbutton-icon {
    width: 12px;
    height: 12px;

    &:-moz-locale-dir(rtl) {
      transform: scaleX(-1);
    }
  }
}

.titlebar-min {
  list-style-image: url(chrome://browser/skin/window-controls/minimize.svg);
}

.titlebar-max {
  list-style-image: url(chrome://browser/skin/window-controls/maximize.svg);
}

.titlebar-restore {
  list-style-image: url(chrome://browser/skin/window-controls/restore.svg);
}

.titlebar-restore > .toolbarbutton-icon:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.titlebar-close {
  list-style-image: url(chrome://browser/skin/window-controls/close.svg);
}

:root[lwtheme-image] {
  .titlebar-button {
    -moz-context-properties: unset;
  }
  .titlebar-min {
    list-style-image: url(chrome://browser/skin/window-controls/minimize-themes.svg);
  }
  .titlebar-max {
    list-style-image: url(chrome://browser/skin/window-controls/maximize-themes.svg);
  }
  .titlebar-restore {
    list-style-image: url(chrome://browser/skin/window-controls/restore-themes.svg);
  }
  .titlebar-close {
    list-style-image: url(chrome://browser/skin/window-controls/close-themes.svg);
  }
}

/* the 12px image renders a 10px icon, and the 10px upscaled gets rounded to 12.5, which
 * rounds up to 13px, which makes the icon one pixel too big on 1.25dppx. Fix: */
@media (min-resolution: 1.20dppx) and (max-resolution: 1.45dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 11.5px;
    height: 11.5px;
  }
}

/* 175% dpi should result in the same device pixel sizes as 150% dpi. */
@media (min-resolution: 1.70dppx) and (max-resolution: 1.95dppx) {
  .titlebar-button {
    padding-inline: 14.1px;
  }

  .titlebar-button > .toolbarbutton-icon {
    width: 10.8px;
    height: 10.8px;
  }
}

/* 225% dpi should result in the same device pixel sizes as 200% dpi. */
@media (min-resolution: 2.20dppx) and (max-resolution: 2.45dppx) {
  .titlebar-button {
    padding-inline: 15.3333px;
  }

  .titlebar-button > .toolbarbutton-icon {
    width: 10.8px;
    height: 10.8px;
  }
}

/* 275% dpi should result in the same device pixel sizes as 250% dpi. */
@media (min-resolution: 2.70dppx) and (max-resolution: 2.95dppx) {
  /* NB: todo: this should also change padding on the buttons
   * themselves, but without a device to test this on, it's
   * impossible to know by how much. */
  .titlebar-button > .toolbarbutton-icon {
    width: 10.8px;
    height: 10.8px;
  }
}

@media (-moz-windows-default-theme) {
  #main-menubar > menu {
    appearance: none;
    color: inherit;
  
    &[_moz-menuactive] {
      background-color: light-dark(hsla(0,0%,0%,.12), hsla(0,0%,100%,.22));
      color: inherit;
  
      @media (prefers-contrast) {
        background-color: -moz-menuhover;
        color: -moz-menuhovertext;
      }
    }
  }

  #toolbar-menubar[brighttext] > #menubar-items > #main-menubar > menu[_moz-menuactive="true"],
  toolbar[brighttext] .titlebar-button:not(.titlebar-close):hover {
    background-color: hsla(0,0%,100%,.22);
  }
  toolbar[brighttext] .titlebar-button:not(.titlebar-close):hover:active {
    background-color: hsla(0,0%,100%,.32);
  }

  .titlebar-button:hover {
    background-color: light-dark(hsla(0,0%,0%,.12), hsla(0,0%,100%,.22));

    &:active {
      background-color: light-dark(hsla(0,0%,0%,.22), hsla(0,0%,100%,.32));
    }
  }

  .titlebar-close:hover {
    stroke: white;
    background-color: hsl(355,86%,49%);
  }
  .titlebar-close:hover:active {
      background-color: hsl(355,82%,69%);
  }

  .titlebar-button:not(:hover) > .toolbarbutton-icon:-moz-window-inactive {
    opacity: 0.5;
  }
}

@media not (-moz-windows-default-theme) {
  .titlebar-button {
    background-color: -moz-field;
    stroke: ButtonText;
  }
  .titlebar-button:hover {
    background-color: SelectedItem;
    stroke: SelectedItemText;
  }

  .titlebar-min {
    list-style-image: url(chrome://browser/skin/window-controls/minimize-highcontrast.svg);
  }

  .titlebar-max {
    list-style-image: url(chrome://browser/skin/window-controls/maximize-highcontrast.svg);
  }

  .titlebar-restore {
    list-style-image: url(chrome://browser/skin/window-controls/restore-highcontrast.svg);
  }

  .titlebar-close {
    list-style-image: url(chrome://browser/skin/window-controls/close-highcontrast.svg);
  }

  :root[darkwindowframe="true"]:not(:-moz-window-inactive, [lwtheme]) {
    color: white;
  }

  &:not([lwtheme]) #appcontent {
    background-color: -moz-dialog;
  }
}
